{{ define "main" }}
<div class="container">
   {{- partial "menu.html" . -}}
   {{.Content}}
   <div class="row align-items-start">
      {{ range .Pages }}
      <div class="col-md-4 py-3">
         <div class="card">
            {{ $imagePath := .Params.featuredImage }}
            {{ $image := resources.Get $imagePath }}
            {{ $resized := $image.Resize "400x" }}
            {{ $fingerprinted := $image | resources.Fingerprint }} 
            {{ with $fingerprinted }}
            <img class="img-fluid" src="{{ .RelPermalink }}" alt="Issue cover image">
            {{ end }}
            <div class="card-body">
               <div class="card-title">
                  {{ .Title }}
               </div>
               <p class="card-text"> {{ .Summary }} </p>
               <div class="row justify-content-between">
                  <div class="col-auto">
                     <p class="card-text"> <small class="text-muted"> {{ .PublishDate.Format "Jan. 2006" }}</small></p>
                  </div>
                  <div class="col-auto">
                     <p class="card-text"><small class="text-muted"><a href="{{.Permalink}}"> Keep reading <i
                                 class='fa fa-long-arrow-right'></i></a></small> </p>
                  </div>
               </div>
            </div>
         </div>

      </div>
      {{ end }}
   </div>
</div>
{{- partial "footer.html" . -}}
{{ end }}