{{ define "main" }} {{- partial "menu.html" . -}}
<div class="container"> {{.Content}}
    <div class="row masonry">
        <!-- ISSUE 06 RELEASE -->
        <div class="col-sm-4 py-3 item">
            <div class="card"> <img src="/images/issue6/thumb/ccm6_cover.jpg" class="img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title">ISSUE 06 IS OUT!</h5>
                    <p class="card-text">After a long delay in publishing this issue, Issue 06: Space is finally out! We asked you to consider space in all of its manifestations and, as always, you delivered. We are proud to showcase your work once again.</p>
                    <p class="card-text" style="float:right"><small class="text-muted"><a href="/issues/issue-6">Read it here <i class='fa fa-long-arrow-right'></i></small></a></p>
                </div>
            </div>
        </div> <!-- SUBMISSIONS OPEN  -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">ISSUE 07 SUBMISSIONS ARE OPEN</h5>
                    <p class="card-text">The votes are in! The winner of Issue 07's theme poll is "You are here." Submissions are open to everyone, everywhere, until <strong>June 02, 2023</strong> You can learn more about our theme and submission guidelines on our <u><a href="/submit">Submit</a></u> page. You can submit your work there or you can click the link below to visit our submission form directly. </p>
                    <p class="card-text" style="float:right"><small class="text-muted"><a href="https://tally.so/r/nprZDV">Submit now! <i class='fa fa-long-arrow-right'></i></small></a></p>
                </div>
            </div>
        </div> <!-- RSS Feed  -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">RSS FEED</h5>
                    <p class="card-text">Looking for a lightweight way to keep up with Cicada? Add our blog's feed to your favorite RSS reader. <i class="fa-solid fa-square-rss"></i> </p>
                    <p class="card-text" style="float:right"><small class="text-muted"><a href="/index.xml">RSS feed <i class='fa fa-long-arrow-right'></i></small></a></p>
                </div>
            </div>
        </div> <!-- DISCORD  -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">JOIN OUR DISCORD</h5>
                    <p class="card-text">CCM has an official Discord server now! Featuring music recommendations, community event announcements, pet pictures, movie nights, and CCM updates. </p>
                    <p class="card-text" style="float:right"><small class="text-muted"><a href="https://discord.gg/sgneFPdpNh">Join now <i class='fa fa-long-arrow-right'></i></small></a></p>
                </div>
            </div>
        </div> <!-- BLOG POST UPDATES -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">RECENT BLOG POSTS</h3> {{- range ( where site.RegularPages "Section" "blog" | first 2 ) }} <img class="img-fluid rounded" src="{{ .Param `featuredImage` }}" alt="featured image">
                    <div class="card-body">
                        <h3 class="card-title">{{ .Title | truncate 26 }}</h3>
                        <div class="card-subtitle mb-2">
                            <p class="card-text">
                            <blockquote> <i> {{ range .Param "authors" }} {{ . }} {{ end }} </i></blockquote>
                            </p>
                        </div>
                        <p class="card-text" style="float:right"><small class="text-muted"><a href="{{.Permalink}}">Read <i class='fa fa-long-arrow-right'></i></small></a>
                        <p></p>
                        </p>
                    </div> {{ end }}
                </div>
            </div>
        </div> <!-- SPOTIFY -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">SPOTIFY PLAYLIST</h3>
                    <p class="card-text">Check out our collaborative playlist!</p> <iframe style="border-radius:0px" src="https://open.spotify.com/embed/playlist/4a8Nhz7K81x9oUc3uOQgIN?utm_source=generator" width="100%" height="450" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                </div>
            </div>
        </div> <!-- APPLICATIONS  -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">APPLICATIONS OPEN</h5>
                    <p class="card-text">We're looking for staff! We need both Editorial Board members and Creative Team members. Staff applications are reviewed on a rolling basis. You can find out more about open positions and guidelines in our <u><a href="https://docs.cicadacreativemag.com/docs/staff-and-membership/">docs</a></u>. </p>
                    <p class="card-text" style="float:right"><small class="text-muted"><a href="https://tally.so/r/woExBM">Application form <i class='fa fa-long-arrow-right'></i></small></a></p>
                </div>
            </div>
        </div> <!-- UQUIZ -->
        <div class="col-sm-4 py-3 item">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">WHICH CICADA ARE YOU?</h3>
                    <p class="card-text">Ever wanted to know what kind of cicada you would be? Check out this quiz to find out. CW: photos of bugs. </p>
                    <p class="card-text" style="float:right"><small class="text-muted"><a href="https://uquiz.com/quiz/xIPn5U/which-cicada-are-you">Take it here! <i class='fa fa-long-arrow-right'></i></small></a></p>
                </div>
            </div>
        </div>
        <!-- TWITTER 
  <div class="col-sm-4 py-3 item">
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">TWITTER FEED</h3>
            <p class="card-text">
                <a class="twitter-timeline" data-height="400" data-dnt="true" data-theme="dark" href="https://twitter.com/cicadacreatemag?ref_src=twsrc%5Etfw">Tweets by cicadacreatemag</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
             </p>
        </div>
    </div>
</div>   -->
    </div>
</div> {{- partial "footer.html" . -}} {{ end }}