{{ define "main" }}
{{- partial "menu.html" . -}}

<div class="container">
    {{.Content}}

    <div class="row justify-content-around">

    <div class="card mb-4" style="max-width: 40em;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/staff/jay.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Jay Serrano</h5>
              <p class="card-text"><i>Editorial Director, Web Developer</i></p>
              <p class="card-text">multimedia artist & prototypical pisces. recommend me a horror game! </p>
            </div>
          </div>
        </div>
      </div>

<div class="card mb-4" style="max-width: 40em;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/staff/alex.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Allyson (Alex) Lee</h5>
              <p class="card-text"><i>Creative Director</i></p>
              <p class="card-text"> Illustrator and neighborhood plague doctor enthusiast. I collect little clowns and I think you should too!</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row justify-content-around">
    <div class="card mb-4" style="max-width: 40em;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/staff/lizzie.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Lizzie Tjahja</h5>
              <p class="card-text"><i>Creative Director</i></p>
              <p class="card-text">lover of architecture and print design! collector of useless pieces of paper.
            </p>
            </div>
          </div>
        </div>
      </div>

<div class="card mb-4" style="max-width: 40em;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/staff/anna.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Anna Dunn</h5>
              <p class="card-text"><i>Managing Editor</i></p>
              <p class="card-text">I’m always a sucker for art pieces that explore the mundane. Those boring, repetitive actions we repeat each day, the public spaces that we usually walk through and dismiss, they all have potential to be windows through which we can glimpse the deeply encoded habits of human nature.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
</div>



{{- partial "footer.html" . -}}
    {{ end }}