{{ define "main" }}
{{- partial "menu.html" . -}}

<div class="container">
  {{.Content}}

  <div class="row masonry">
  <!-- JAY -->
    <div class="col-sm-6 py-2 item">
        <div class="card mb-4">
          <div class="row g-2">
            <div class="col-md-4">
              <a href="/images/staff/jay.png" data-lightbox="staff" ><img src="/images/staff/jay.png" class="img-fluid"  alt="..."> </a>
          </div>
          <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Jay Serrano</h5>
            <p class="card-text"><i>Editorial Director, Web Developer</i></p>
            <p class="card-text"> multimedia artist & prototypical pisces. recommend me a horror game!</p>
            </div>
          </div>
        </div>
        </div>
      </div>

    <!-- ALEX -->
      <div class="col-sm-6 py-2 item">
        <div class="card mb-4">
          <div class="row g-2">
            <div class="col-md-4">
              <a href="/images/staff/alex.png" data-lightbox="staff" ><img src="/images/staff/alex.png" class="img-fluid"  alt="..."> </a>
             </div>
            <div class="col-md-8">
            <div class="card-body">
            <h5 class="card-title">Allyson (Alex) Lee</h5>
            <p class="card-text"><i>Creative Director</i></p>
            <p class="card-text">Illustrator and neighborhood plague doctor enthusiast. I collect little clowns and I think you should too!</p>
            </div>
          </div>
        </div>
        </div>
      </div>

  <!-- LIZZIE -->
  <div class="col-sm-6 py-2 item">
    <div class="card mb-4">
      <div class="row g-2">
        <div class="col-md-4">
          <a href="/images/staff/lizzie.png" data-lightbox="staff" ><img src="/images/staff/lizzie.png" class="img-fluid"  alt="..."> </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">Lizzie Tjahja</h5>
        <p class="card-text"><i>Creative Director</i></p>
          <p class="card-text">lover of architecture and print design! collector of useless pieces of paper.
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>

  <!-- ANNA -->
  <div class="col-sm-6 py-2 item">
    <div class="card mb-4">
      <div class="row g-2">
        <div class="col-md-4">
          <a href="/images/staff/anna.png" data-lightbox="staff" ><img src="/images/staff/anna.png" class="img-fluid"  alt="..."> </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
        <h5 class="card-title">Anna Dunn</h5>
        <p class="card-text"><i>Creative Team Member</i></p>
          <p class="card-text"> I’m always a sucker for art pieces that explore the mundane. Those boring, repetitive actions we repeat each day, the public spaces that we usually walk through and dismiss, they all have potential to be windows through which we can glimpse the deeply encoded habits of human nature.
          </p>
        </div>
      </div>
    </div>
    </div>
  </div>

 <!-- DENISE -->
 <div class="col-sm-6 py-2 item">
  <div class="card mb-4">
    <div class="row g-2">
      <div class="col-md-4">
        <a href="/images/staff/denise.jpg" data-lightbox="staff" ><img src="/images/staff/denise.jpg" class="img-fluid"  alt="..."> </a>
      </div>
    <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title">Denise Zubizarreta</h5>
      <p class="card-text"><i>Creative Team Member</i></p>
      <p class="card-text">Denise "The Vamp DeVille" Zubizarreta is a Puerto Rican and Cuban American Mixed Media Interdisciplinary Artist raised between Union City, NJ, and Hialeah, FL, currently living and working in Denver, CO. She is the former President of the Student Government Association at the Rocky Mountain College of Art + Design where she completed her BFA in Fine art.
      </p>
      </div>
    </div>
  </div>
  </div>
</div>
  
 <!-- GRACIE -->
 <div class="col-sm-6 py-2 item">
  <div class="card mb-4">
    <div class="row g-2">
      <div class="col-md-4">
        <a href="/images/staff/gracie.jpg" data-lightbox="staff" ><img src="/images/staff/gracie.jpg" class="img-fluid"  alt="..."> </a>
      </div>
    <div class="col-md-8">
      <div class="card-body">
      <h5 class="card-title">Gracie Neirynck</h5>
      <p class="card-text"><i>Creative Team Member</i></p>
      <p class="card-text">If you can’t find me I’m strolling through the uncanny valley. That or trying to jump over the pile of dirty laundry guarding my bed. Either one.</p>
      </div>
    </div>
  </div>
  </div>
</div>

</div>
</div>


{{- partial "footer.html" . -}}
    {{ end }}