{{ define "main" }} {{- partial "menu.html" . -}}
<div class="container"> {{.Content}}
    <div class="row justify-content-start masonry">
        <div class="col-sm-6 p-3 item">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> ISSUE 07: "You are here" </div>
                    <p class="card-text">
                    <p>Maps are, at their most essential, symbolic diagrams that outline relationships between things. Most commonly, they are visualizations of geographical data, but anything can be mapped. A brain, a body, a home, a memory. &quot;You are here&quot; invites you to contemplate where you stand on your own maps. Take a moment to orient yourself and consider where you&#39;ve been and where you want to go.</p>
                    <p>Some potential starting points you may consider:</p>
                    <ul>
                        <li>If you wanted to make a map to give someone as a guide to understanding you and your internal world, what would it look like?</li>
                        <li>Where were you when you realized you were alive for the first time?</li>
                        <li>If you drew a map of your most precious childhood memories, what would the key be?</li>
                        <li>What would a map with no images look like? Can music be a map?</li>
                        <li>Food can represent a place as vividly as a cartographical map. What dishes would represent your heritage most?</li>
                        <li>Consider that our social &quot;maps&quot; grew much larger with the rise of the internet. What does it mean that our world is so much bigger now?</li>
                    </ul>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3 item">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Submission Form </div>
                    <p class="card-text"> <iframe data-tally-src="https://tally.so/embed/nprZDV?alignLeft=1&hideTitle=1" loading="lazy" width="100%" height="450" frameborder="0" marginheight="0" marginwidth="0" title=" CCM Issue 07 Submission Form
                            "></iframe>
                        <script>
                            var d=document,w="https://tally.so/widgets/embed.js",v=function(){"undefined"!=typeof Tally?Tally.loadEmbeds():d.querySelectorAll("iframe[data-tally-src]:not([src])").forEach((function(e){e.src=e.dataset.tallySrc}))};if("undefined"!=typeof Tally)v();else if(d.querySelector('script[src="'+w+'"]')==null){var s=d.createElement("script");s.src=w,s.onload=v,s.onerror=v,d.body.appendChild(s);}
                        </script>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3 item">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Submission Categories </div>
                    <p class="card-text">
                    <p>Here at CCM, we’ve branded ourselves as more than a literary magazine. We aim to reach beyond traditional definitions of art and writing. So, we've reimagined artistic categories as the following: </p>
                    <div class="row justify-content-start">
                        <div class="col-sm-6"> <strong>Auditory</strong>
                            <ul>
                                <li>Music recordings</li>
                                <li>Spoken poetry/writing</li>
                                <li>Film (may also fall under Visual)</li>
                            </ul> <strong>Spatial</strong>
                            <ul>
                                <li>Topography and GIS</li>
                                <li>Architectural layouts</li>
                                <li>Interior design </li>
                            </ul> <strong>Language</strong>
                            <ul>
                                <li>Poetry</li>
                                <li>Flash fiction</li>
                                <li>Short stories</li>
                                <li>Reporting or feature writing</li>
                            </ul>
                        </div>
                        <div class="col-sm-6"> <strong>Visual</strong>
                            <ul>
                                <li>Video games, visual novels</li>
                                <li>Coding/programming</li>
                                <li>Computer-generated imagery</li>
                                <li>Culinary art</li>
                                <li>Character design</li>
                                <li>Textiles, clothing, and fashion design</li>
                                <li>Cosmetology</li>
                            </ul> <strong>Cultural/Social</strong>
                            <ul>
                                <li>Essays and research</li>
                                <li>Field notes</li>
                                <li>Creative data</li>
                                <li>Polls</li>
                                <li>Book reviews</li>
                            </ul>
                        </div>
                    </div>
                    <p>You can combine elements of these categories — several of the examples we provided can fall into multiple categories, and we encourage you not to let these categories limit you. If you are able to create work that exists completely outside of these categories, we will gladly review your submitted work with care and openness. </p>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 p-3 item">
            <div class="card">
                <div class="card-body">
                    <div class="card-title"> Submission Guidelines </div>
                    <p class="card-text"> <ul>
                        <li>The maximum number of pieces anyone can submit to CCM (or have published) per issue is <strong>three</strong>.</li>
                        <li>Staff members may submit to CCM, but must abstain from reviewing it and cannot disclose it is theirs.</li>
                        <li>15,000 word limit on writing.</li>
                        <li>We allow simultaneous submissions.</li>
                        <li>Work may be previously published, but you must clarify this on your submission and include a source as to where the work has been previously published. Please also ensure the other publication permits you to re-publish the piece.</li>
                        <li>It does not cost money to submit to CCM.</li>
                        <li>We value documentation. Even if we like a piece, if the documentation is poor (low resolution, shaky, dimly lit), its odds of being published are lower.</li>
                        <li>Our submission form will accept file sizes up to 10MB per submission. If your files exceed this limit (as might be the case for audio recordings or videos), please email us so we can figure out an alternative.<ul>
                        <li>If you are submitting visual art, please be sure to submit high-quality images. 150 to 300 ppi is ideal. However, please be mindful of space considerations. Try to keep your images under 3MB.</li>
                        </ul>
                        </li>
                        <li><em>Note on AI-generated work:</em> AI-generated art is still a nascent technology and, as such, our standards are subject to change. We currently allow AI-generated work as long as the AI has been exclusively trained with <em>your</em> work. Please be purposeful and creative with any implementations of this technology for submission purposes, and clarify in your submission it is AI-generated.</li>
                        </ul>
                        
                    </p>
                </div>
            </div>
        </div>
    </div> {{- partial "footer.html" . -}} {{ end }}