.card {
    @include transition;
    @include theme;
    border: 2px solid $text-color;
    box-shadow: $text-color 0.5em 0.5em;
    font-weight: 500;
    padding: 2vh;
    border-radius: 0px;
    @media (max-width: 20em) {
        .card {
          padding: 2vh;
        }  
      }
}

.card-title {
    font-size: 1.3em;
    font-family: $header-font;
    font-weight: 900;
}

hr {
    height: 0px;
    border: none;
    border-top: 1px solid $text-color;
}

.img-fluid {
    @include transition;
    object-fit: cover;
    max-height: 300px;
    min-height: 100px;
}

.img-blog {
    width: 100%;
    height: auto;
}

.text-muted {
    font-family: $sub-font;
    color: $text-color !important;
    font-style: italic;
}

.social-icon {
    padding-left: 5px;
}