.contributors {
    width: 100%;
    border: 2px solid $text-color;
    margin: 1em auto;
    padding: 2em;
  
    a {
      text-decoration: underline;
  
      &:hover {
        text-decoration: none;
      }
    }
  }
  