@keyframes slideInFromLeft {
	0% {
		transform: translateX(-30%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(30%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

.index {
	padding: 2vh;
}

.button-group {
	margin: 0 3vw;
	animation: 1s ease-out 0s 1 slideInFromRight;
}

.ccm {	
	@include transition;
	color: $text-color;
	font-family: $header-font;
	letter-spacing: -3px;
	font-size: calc(clamp(4.2rem, 3.4667rem + 3.2593vw, 5.3rem));
	line-height: 80%;
	position: relative;
	font-weight: 700;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.enter {
	border: 2px solid $text-color;
	text-decoration: none;
	box-shadow: $text-color 0.5em 0.6em;
	font-family: $sub-font;
	padding: 1.75vh;
	margin-top: 2em;
	width: calc(clamp(18rem, 14.6667rem + 14.8148vw, 23rem));
	animation: 1s ease-out 0s 1 slideInFromLeft;

	a {
		@include transition;
	}
}