$themes: (
  white: (
    bg-color: #fff,
    text-color: #4f4f4f
  ),
  yellow: (
    bg-color: #fff38b,
    text-color: #fc723f
  ),
  red: (
    bg-color: #fc723f,
    text-color: #fff38b
  ),
  green: (
    bg-color: #94efa2,
    text-color: #5b72f5
  ),
  blue: (
    bg-color: #5b72f5,
    text-color: #fff38b
  ),
  pink: (
    bg-color: #fc8989,
    text-color: #fff38b
  )
);

@each $theme, $colors in $themes {
  .#{$theme} {
    @each $prop, $value in $colors {
      --#{$prop}: #{$value};
    }
  }
}


