$themes: (
  white: (
    bg-color: #fff,
    text-color: #BC4824
  ),
  yellow: (
    bg-color: #fff38b,
    text-color: #BC4824
  ),
  red: (
    bg-color: #BC4824,
    text-color: #fff38b
  ),
  green: (
    bg-color: #C0FFC0,
    text-color: #555CE5
  ),
  blue: (
    bg-color: #555CE5,
    text-color: #fff38b
  ),
  pink: (
    bg-color: #FBBDB6,
    text-color: #555CE5
  )
);

@each $theme, $colors in $themes {
  .#{$theme} {
    @each $prop, $value in $colors {
      --#{$prop}: #{$value};
    }
  }
}


