$bg-color: var(--bg-color);
$text-color: var(--text-color);

$body-font: 'mrs-eaves-xl-serif-narrow', serif;
$header-font: 'nimbus-sans', sans-serif;
$sub-font: 'Inconsolata', monospace;

$regular-button-size: 5.3rem;
$nav-button-size: 2.25em;