{{ $imagePath := .Params.featuredImage }}
{{ $img := resources.Get $imagePath }}

{{ with $img }}
  {{ $sub := .MediaType.SubType }}
  {{ $out := . }} {{/* default to original */}}

  {{ if eq $sub "gif" }}
    {{ $out = . }}

  {{ else if eq $sub "webp" }}
    {{/* $out = .Resize "500x" */}}

  {{ else }}
    {{ $out = .Resize "500x webp" }}
  {{ end }}

  {{ $fp := $out | resources.Fingerprint }}
  <img class="img-fluid" src="{{ $fp.RelPermalink }}" alt="Issue thumbnail" width="500" loading="lazy">
{{ else }}
  <p>Error: Thumbnail image not found or could not be processed.</p>
{{ end }}
