{{ define "main" }}
    <div class="container">  
      {{- partial "menu.html" . -}}  
        <div class="row justify-content-sm-center">
          <div class="col-md-6">
            <h1>{{ .Title }}</h1>
                <p class="card-text">{{ range .Param "authors" }}
                      {{ . }}
                  {{ end }} </p> 
                    <blockquote>     
                    {{ .Description }} 
                    </blockquote>
                    {{.Content}}
                  </div>
                </div>
           {{- partial "arrows.html" . -}}
        </div>
    {{- partial "footer.html" . -}}
{{ end }}