html {
	box-sizing: border-box;
	overflow-x: hidden;
}

@keyframes slideInFromLeft {
	0% {
		transform: translateX(-30%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideInFromRight {
	0% {
		transform: translateX(30%);
		opacity: 0;
	}

	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.container {
	color: var(--text-color);
	width: 90%;
	margin-top: 2%;
	flex-direction: row;
	justify-content: space-evenly;
}

body {
	font-family: var(--body-font);
	background-color: var(--bg-color);
	line-height: 1.5;
	padding: 1em;
	font-size: 1em;
	height: 100%;
	animation: 0.8s ease-out 0s 1 fadeInAnimation;
}

a {
	color: var(--text-color);
	text-decoration: underline;
}

a:hover {
	color: var(--text-color);
	text-decoration: none;
}

li, ul {
	color: var(--text-color);
	font-family: var(--body-font);
}

#top {
	display: inline-block;
	background-color: var(--text-color);
	width: 50px;
	height: 50px;
	text-align: center;
	border-radius: 50px;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, 
	  opacity .5s, visibility .5s;
	opacity: 0;
	visibility: hidden;
	z-index: 1000;
  }
  #top::after {
	content: "\f077";
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	font-size: 2em;
	line-height: 50px;
	color: #fff;
  }
  #top:hover {
	cursor: pointer;
  }
  #top:active {
	background-color: var(--bg-color);
  }
  #top.show {
	opacity: 1;
	visibility: visible;
  }
  
.post {
	color: var(--text-color);
	justify-content: space-between;
	padding: 2em;
	overflow-y: auto;
}

blockquote {
	border-left: 1px solid var(--text-color);
	font-family: var(--body-font);
	padding-left: 1em;
	margin-left: 1rem;
}

h1, h2, h3, h4, h5, h6 {
	padding: auto;
	font-family: var(--header-font);
	font-weight: bold;
}

p {
	color: var(--text-color);
	font-family: var(--body-font);
	line-height: 1.5;
}


.twitter-timeline {
	width: 100vw !important;
}

.enter {
	border: 2px solid var(--text-color);
	text-decoration: none;
	box-shadow: var(--text-color) 0.5em 0.6em;
	font-family: var(--sub-font);
	font-weight: 500;
	padding: 1.75vh;
	margin-top: 2em;
	max-width: 25em;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.card {
	border: 2px solid var(--text-color);
	color: var(--text-color);
	background-color: var(--bg-color);
	box-shadow: var(--text-color) 0.5em 0.5em;
	font-weight: 500;
	padding: 2vh;
	border-radius: 0px;
}

.video-shortcode {
	max-width: 100%;
	max-height: 70vh;
	padding: 0.5em;
}

.tiles {
	border: 2px solid var(--text-color);
	max-width: 17.5rem;
}

.tiles-title {
	font-size: 2.2em;
	font-weight: 600;
	padding: 0vh 2vh;
	margin-top: 36%;
	margin-bottom: 36%;
	text-align: center;
}

.tiles-title a {
	text-decoration: none;
}

.tiles-title a:hover {
	text-decoration: underline;
}

.img-fluid {
	animation: 0.8s ease-out 0s 1 fadeInAnimation;
	object-fit: cover;
	max-height: 300px;
	min-height: 100px;
}

.tiles .img-fluid {
	object-fit: cover;
}

img[src*="#blog"] {
	max-width: 100%;
}

img[src*="#issues"] {
	max-width: 100%;
	max-height: 35rem;
	padding: 0.5em;
	display: flex;
	justify-content: center;
}

.timeline {
	border-left: 1px solid var(--text-color);
	position: relative;
	list-style: none;
}

.timeline .timeline-item {
	position: relative;
}

.timeline .timeline-item:after {
	position: absolute;
	display: block;
	top: 0;
}

.timeline .timeline-item:after {
	background-color: var(--text-color);
	left: -38px;
	border-radius: 50%;
	height: 11px;
	width: 11px;
	content: "";
}


.card-title {
	font-size: 1.3em;
	font-family: var(--header-font);
	font-weight: 900;
}

.button-group {
	animation: 1s ease-out 0s 1 slideInFromRight;
}

.navbar {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.navbar-brand {
	background-color: var(--bg-color);
	color: var(--text-color);
}

.nav-item {
	font-family: var(--sub-font);
	color: var(--text-color);
	border: 1.5px solid var(--text-color);
	font-size: 0.9rem;
	padding-inline: 5px;
	margin: 5px;
}

.nav-item a:hover {
	text-decoration: none;
	color: var(--bg-color);
}

.nav-item:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.nav-link {
	color: var(--text-color);
}

.nav-link a {
	color: var(--bg-color);
	background-color: var(--text-color);
	text-decoration: none;
}

.navbar-toggler-icon {
	color: var(--text-color);
}

.text-muted {
	font-family: var(--sub-font);
	color: var(--text-color) !important;
	font-style: italic;
}

input {
  padding: 5px 10px 5px 10px !important;
  border: 2px solid var(--text-color);
  background-color: #FFF;
  color: rgb(62, 62, 62);
}

input::placeholder {
  font-family: var(--sub-font);
  font-size: small;
}


.button-74 {
  background-color: transparent;
  border: 2px solid var(--text-color);
  color: var(--text-color);
  font-family: var(--sub-font);
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px 10px;
}

.button-74:hover {
  background-color: var(--text-color);
  color: var(--bg-color);
}


.contributors {
	width: 100%;
	border: 2px solid var(--text-color);
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 2em;
}

.contributors a {
	text-decoration: underline;
}

.contributors a:hover {
	text-decoration: none;
}

.button {
	background-color: transparent;
	padding: .4em 1em;
	border: 1px solid var(--text-color);
	color: var(--text-color);
	display: inline-block;
	font-size: 0.86em;
}

.button:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

@media (max-width: 768px) {
 /* FOR MOBILE */
	.mc-field-group {
		display: inline-block;
		max-width: 100%;
	}

	#mce-EMAIL {
		display: inline-block;
		padding: .3em;
		width: 96%;
		margin: 0;
	}

	.clear {
		display: block;
		max-width: 100%;
		margin-top: .2em;
	}

	.button {
		width: 50%;
		margin: .3em;
	}
}

.index {
	padding: 2vh;
}

/* Preloader */
#preloader {
	align-items: center;
	justify-content: center;
	width: 100%;
	display: flex;
	position: fixed;
	height: 100vh;
	left: 0;
	top: 0;
	background: var(--bg-color)
	  url("https://samherbert.net/svg-loaders/svg-loaders/spinning-circles.svg")
	  no-repeat center;
	z-index: 9999;
  }

.ccm {
	color: var(--text-color);
	font-family: var(--header-font);
	letter-spacing: -3px;
	font-size: 5.3rem;
	line-height: 80%;
	position: relative;
	font-weight: 700;
	animation: 1s ease-out 0s 1 slideInFromLeft;
}

.arrows {
	text-align: center;
	padding: 1.75vh;
}

.fa-long-arrow-alt-right {
	font-size: 18px;
	border: 1.5px solid var(--text-color);
	padding: 2vh;
	margin-right: -2vh;
}

.fa-long-arrow-alt-left {
	font-size: 18px;
	border: 1.5px solid var(--text-color);
	padding: 2vh;
	margin-left: -2vh;
}

.fa-home {
	font-size: 18px;
	border: 1.5px solid var(--text-color);
	padding: 2vh;
}

.fa-long-arrow-alt-right a:hover {
	text-decoration: none;
	color: var(--bg-color);
}

.fa-long-arrow-alt-right:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.fa-long-arrow-alt-left a:hover {
	text-decoration: none;
	color: var(--bg-color);
}

.fa-long-arrow-alt-left:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.fa-home a:hover {
	text-decoration: none;
	color: var(--bg-color);
}

.fa-home:hover {
	background-color: var(--text-color);
	color: var(--bg-color);
}

.footer {
	border-top: 1.5px solid var(--text-color);
	padding: 1.5em;
	margin-top: 2em;
}

fieldset {
	margin: auto;
	width: 90%;
	padding: 0.8vh;
}

#contact {
	background: var(--bg-color);
	border: 2px solid var(--text-color);
	box-shadow: var(--text-color) 0.3em 0.4em;
}

#contact h6 {
	background-color: var(--text-color);
	color: var(--bg-color);
	display: block;
	font-family: var(--sub-font);
	font-size: 0.9em !important;
	font-weight: 550;
	padding: 3vh;
}

#contact input[type="text"],
  #contact input[type="email"],
  #contact textarea,
  #contact button[type="send"] {
	font-family: var(--sub-font);
	font-size: 0.84em;
}

#contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
	width: 100%;
	border: 1px solid var(--text-color);
	margin: 0 0 5px;
	padding: 10px;
}

#contact input[type="text"]:hover,
  #contact input[type="email"]:hover,
  #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
	resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	float: right;
	width: 8vh;
	border: none;
	background-color: inherit;
	padding: 2vh;
	font-size: 15px;
	margin-bottom: 2vh;
	color:var(--text-color)
}

#contact input:focus,
  #contact textarea:focus {
	outline: 0;
}

/*Scrollbar*/
::-webkit-scrollbar {
	width: 8px;
	position: fixed;
	right: 12px;
	z-index: 1;
}

::-webkit-scrollbar-track {
	box-shadow: 0;
	border-radius: 0px;
	background-color: var(--bg-color);
}

.post ::-webkit-scrollbar-track {
	border-left: 0px solid var(--text-color);
}

::-webkit-scrollbar-thumb {
	background: var(--text-color);
	border-radius: 0px;
}


@media (min-width: 20em) {

	.ccm {
		font-size: 4.2em;
		letter-spacing: -0.1rem;
	}

	.enter {
		width: 18em;
	}

	.button-group {
		margin-top: 0.5em;
		padding-left: -2em;
	}

	.container {
		width: 100%;
	}

	.tiles {
		max-width: 18.5rem;
	}
}

@media (min-width: 30em) {
	.tiles-title {
		font-size: 1em;
		margin-top: 15%;
		margin-bottom: 15%;
		padding-top: 5%;
	}

	.index {
		margin-top: 18vh;
	}

	.ccm {
		font-size: 4.5em;
	}

	.enter {
		width: 20em;
	}
}

@media (min-width: 54em) {
	.index {
		margin-top: 10vh;
	}

	.ccm {
		font-size: 4.3em;
	}

	.tiles {
		max-width: 14rem;
	}

	.button-group {
		margin-top: 1em;
	}
}

@media (min-width: 64em) {

	.ccm {
		font-size: 4.9em;
	}

	.index {
		margin-top: 15vh;
	}

	.enter {
		width: 22rem;
	}

	.tiles-title {
		font-size: 1.4em;
		margin-top: 33%;
		margin-bottom: 33%;
		padding-top: 5%;
	}

	.tiles {
		max-width: 17.5rem;
	}
}

@media (min-width: 76.5em) {

	.tiles-title {
		font-size: 1.7em;
		margin-top: 20%;
		margin-bottom: 20%;
		padding-top: 15%;
	}

	.ccm {
		font-size: 5.2em;
	}

	.enter {
		width: 25rem;
	}
}

@media (min-width: 114em) {

	.index {
		margin-top: 18vh;
	}

	.tiles-title {
		font-size: 2.1em;
		margin-top: 25%;
		margin-bottom: 25%;
		padding-top: 5%;
	}
}