

.video-shortcode {
	max-width: 100%;
	max-height: 70vh;
	padding: 0.5em;
}










.contributors {
	width: 100%;
	border: 2px solid var(--text-color);
	margin-bottom: 1em;
	margin-top: 1em;
	padding: 2em;
}

.contributors a {
	text-decoration: underline;
}

.contributors a:hover {
	text-decoration: none;
}

@media (max-width: 768px) {
 /* FOR MOBILE */
	.mc-field-group {
		display: inline-block;
		max-width: 100%;
	}

	#mce-EMAIL {
		display: inline-block;
		padding: .3em;
		width: 96%;
		margin: 0;
	}

	.clear {
		display: block;
		max-width: 100%;
		margin-top: .2em;
	}

	.button {
		width: 50%;
		margin: .3em;
	}
}











@media (min-width: 20em) {

	.ccm {
		font-size: 4.2em;
		letter-spacing: -0.1rem;
	}

	.enter {
		width: 18em;
	}

	.button-group {
		margin-top: 0.5em;
		padding-left: -2em;
	}

	.container {
		width: 100%;
	}

}

@media (min-width: 30em) {
	
	.index {
		margin-top: 18vh;
	}

	.ccm {
		font-size: 4.5em;
	}

	.enter {
		width: 20em;
	}

	
}

@media (min-width: 54em) {
	.index {
		margin-top: 10vh;
	}

	.ccm {
		font-size: 4.3em;
	}

	.button-group {
		margin-top: 1em;
	}
}

@media (min-width: 64em) {

	.ccm {
		font-size: 4.9em;
	}

	.index {
		margin-top: 15vh;
	}

	.enter {
		width: 22rem;
	}
}

@media (min-width: 76.5em) {
 
	.ccm {
		font-size: 5.2em;
	}

	.enter {
		width: 25rem;
	}
}

@media (min-width: 114em) {

	.index {
		margin-top: 18vh;
	} 
}


@media (min-width: 20em) {
	.btn-white {
	  height: 4.75rem;
	  width: 4.75rem;
   }
	.btn-yellow {
	  height: 4.75rem;
	  width: 4.75rem;
   }
	.btn-red {
	  height: 4.75rem;
	  width: 4.75rem;
   }
	.btn-pink {
	  height: 4.75rem;
	  width: 4.75rem;
   }
	.btn-green {
	  height: 4.75rem;
	  width: 4.75rem;
   }
	.btn-blue {
	  height: 4.75rem;
	  width: 4.75rem;
   }
  }
  @media (min-width: 64em) {
	.button-group {
	  margin-top: -0.2em;
   }
	.btn-white {
	  height: 5.6rem;
	  width: 5.6rem;
   }
	.btn-yellow {
	  height: 5.6rem;
	  width: 5.6rem;
   }
	.btn-red {
	  height: 5.6rem;
	  width: 5.6rem;
   }
	.btn-pink {
	  height: 5.6rem;
	  width: 5.6rem;
   }
	.btn-green {
	  height: 5.6rem;
	  width: 5.6rem;
   }
	.btn-blue {
	  height: 5.6rem;
	  width: 5.6rem;
   }
  }
  