:root,
  :root.white {
    --bg-color: #FFF;
    --text-color: #4f4f4f;
  }
  :root.yellow {
    --bg-color: #FFF380;
    --text-color: #fc723f;
  }
  :root.red {
    --bg-color: #fc723f;
    --text-color: #FFF380;
  }
  :root.green {
    --bg-color: #94EFA2;
    --text-color: #5b72f5;
  }
  :root.blue {
    --bg-color: #5b72f5;
    --text-color: #94EFA2;
  }
  :root.pink {
    --bg-color: #f3a49e;
    --text-color: #FFF380;
  }

    .btn {
    color:inherit;
    border-radius: 50%;
    display: inline-block;
    }

    .btn:hover {
      color: var(--text-color);
    }

    .btn:active,
    .btn:focus {
      border: 1px solid var(--text-color);
    }

    .btn-border {
      border: 1px solid var(--text-color);
    }

    .btn-white {
      background-color: #FFF;
      border-radius: 50%;
      height: 5.3rem;
      width: 5.3rem;
    }
  
    .btn-yellow {
      background-color: #FFF380;
      border-radius: 50%;
      height: 5.3em;
      width: 5.3em;
    }
  
    .btn-red {
      background-color: #fc723f;
      height: 5.3em;
      width: 5.3em;
    }
  
    .btn-pink {
      background-color: #f3a49e;
      height: 5.3em;
      width: 5.3em;
    }
  
    .btn-green {
      background-color: #94EFA2;
      height: 5.3em;
      width: 5.3em;
    }
  
    .btn-blue {
      background-color: #5b72f5;
      height: 5.3em;
      width: 5.3em;
    }
    
    .btn-nav-white {
      background-color: #FFF;
      height: 2.25em;
      width: 2.25em;
      }
    
      .btn-nav-yellow {
      background-color: #FFF380;
      height: 2.25em;
      width: 2.25em;
      }
    
      .btn-nav-red {
      background-color: #fc723f;
      height: 2.25em;
      width: 2.25em;
      }
    
      .btn-nav-pink {
      background-color: #f3a49e;
      height: 2.25em;
      width: 2.25em;
      }
    
      .btn-nav-green {
      background-color: #94EFA2;
      height: 2.25em;
      width: 2.25em;
      }
    
      .btn-nav-blue {
      background-color: #5b72f5;
      height: 2.25em;
      width: 2.25em;
      }


    @media (min-width: 20em) {
      .btn-white {
        height: 4.75rem;
        width: 4.75rem;
      }
      
      .btn-yellow {
        height: 4.75rem;
        width: 4.75rem;
      }
    
      .btn-red {
        height: 4.75rem;
        width: 4.75rem;
      }
    
      .btn-pink {
        height: 4.75rem;
        width: 4.75rem;
      }
    
      .btn-green {
        height: 4.75rem;
        width: 4.75rem;
      }
      
      .btn-blue {
        height: 4.75rem;
        width: 4.75rem;
      }
    }

    @media (min-width: 64em) {
      .button-group {
        margin-top: -0.1em;
      }
      .btn-white {
        height: 5.3rem;
        width: 5.3rem;
      }
      .btn-yellow {
        height: 5.3rem;
        width: 5.3rem;
      }
    
      .btn-red {
        height: 5.3rem;
        width: 5.3rem;
      }
    
      .btn-pink {
        height: 5.3rem;
        width: 5.3rem;
      }
    
      .btn-green {
        height: 5.3rem;
        width: 5.3rem;
      }
      
      .btn-blue {
        height: 5.3rem;
        width: 5.3rem;
      }
    }
