{{ define "main" }}
<div class="container">
   {{- partial "menu.html" . -}}
   <header>
      <h1>{{.Title}}</h1>
  </header>
  {{.Content}}

  <div class="row" data-masonry='{"percentPosition": true }'>  
   {{ range .Pages }}
    <div class="col-md-6 py-3">
      <div class="card">
       <img class="img-fluid rounded" src="{{ .Param `featuredImage` }}" alt="featured image">
          <div class="card-body">
            <div class="card-title">
               {{ .Title }}
            </div>
         <p class="card-text"> {{ .Summary | truncate 300 }} </p>
         <p class="card-text"><a href="{{.Permalink}}"> Keep reading <i class='fa fa-long-arrow-right'></i></a> </p>
            </div>
         </div>
      </div>
      {{ end }}
   </div>

   </div>
{{- partial "footer.html" . -}}
{{ end }}