<div class="container">
  
  <!--MENU-->
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="/"><img id="navbarIcon" src='/icons/red-c.png' width="50" height="50" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"><i class="fa fa-bars" aria-hidden="true"></i>
                </span>
            </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                    <li class="nav-item">
                        <a class="nav-link {{ if $.IsMenuCurrent "main" . }} $active" aria-current="page{{ end }}" href="{{ .URL }}">{{ .Pre }}
                     <span>{{ .Name }}</span></a>
                    </li>
                 {{ end }}
               </ul>

 <!--BUTTONS-->
    <div class="row-reverse">
      <button
      id="blue"
      class="btn btn-nav-blue theme-button"
      onclick="handleThemeButtonClick('blue', this)"
      title="blue"
    ></button>
    <button
      id="green"
      class="btn btn-nav-green theme-button"
      onclick="handleThemeButtonClick('green', this)"
      title="green"
    ></button>
    <button
      id="pink"
      class="btn btn-nav-pink theme-button"
      onclick="handleThemeButtonClick('pink', this)"
      title="pink"
    ></button>
    <button
      id="white"
      class="btn btn-nav-white theme-button"
      onclick="handleThemeButtonClick('white', this)"
      title="white"
    ></button>
    <button
      id="yellow"
      class="btn btn-nav-yellow theme-button"
      onclick="handleThemeButtonClick('yellow', this)"
      title="yellow"
    ></button>
    <button
      id="red"
      class="btn btn-nav-red theme-button"
      onclick="handleThemeButtonClick('red', this)"
      title="red"
    ></button>
        </div>
    </div>
  </nav>
</div>


