<nav class="navbar" role="navigation">
  <div class="nav-left">
  <a class="navbar-brand" href="/home">
    <img id="navbarIcon" src='/icons/red-c.png' width="50" height="50" alt="Site logo">
  </a>
  
  <ul class="nav" id="menu">
    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      {{ if .HasChildren }}
        <li class="nav-item dropdown">
          <a class="nav-link" href="{{ .URL }}">{{ .Name }} <i class="fa-solid fa-chevron-down"></i></a>
          <ul class="dropdown-menu">
            {{ range .Children }}
              <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
        </li>
      {{ else }}
        <li class="nav-item">
          <a class="nav-link {{ if $.IsMenuCurrent "main" . }}active{{ end }}" href="{{ .URL }}">{{ .Name }}</a>
        </li>
      {{ end }}
    {{ end }}    
  </ul>
  </div>

  <div class="nav-right">
    <button id="toggle" class="hamburger" aria-expanded="false">
      <span></span>
      <span></span>
      <span></span>
    </button>    
    <div class="nav-buttons">
      <button id="blue" class="btn btn-nav-blue theme-button" onclick="handleThemeButtonClick('blue', this)" title="blue"></button>
      <button id="green" class="btn btn-nav-green theme-button" onclick="handleThemeButtonClick('green', this)" title="green"></button>
      <button id="pink" class="btn btn-nav-pink theme-button" onclick="handleThemeButtonClick('pink', this)" title="pink"></button>
      <button id="white" class="btn btn-nav-white theme-button" onclick="handleThemeButtonClick('white', this)" title="white"></button>
      <button id="yellow" class="btn btn-nav-yellow theme-button" onclick="handleThemeButtonClick('yellow', this)" title="yellow"></button>
      <button id="red" class="btn btn-nav-red theme-button" onclick="handleThemeButtonClick('red', this)" title="red"></button>
    </div>
</div>
</nav>
<header>

