{{- range ( where site.RegularPages "Section" "blog" | first 2 ) }}
{{ $imagePath := .Param `featuredImage` }}
{{ with $imagePath }}
{{ $image := resources.Get $imagePath }}
{{ $resized := $image.Resize "350x" }}
{{ $fingerprinted := $resized | resources.Fingerprint }}

{{ with $fingerprinted }}
<img class="img-fluid rounded" src="{{ .RelPermalink }}" alt="Featured Image"><br>
{{ end }}
{{ end }}
<h3 class="card-title">{{ .Title | truncate 36 }}</h3>
<div class="card-subtitle mb-2">
    <p class="card-text">
    <blockquote> <i> {{ range .Param "authors" }} {{ . }} {{ end }} </i></blockquote>
    {{.Summary | truncate 200 }} <small class="text-muted"><a href="{{.Permalink}}">Keep reading</small></a>
    </p>
</div>
{{ end }}