<form name="contact" id="contact" netlify>
  <h6>Contact the CCM Team</h6>
  <fieldset> <input type="text" name="name" id="name" placeholder="Your Name"> </fieldset>
  <fieldset> <input type="email" name="email" id="email" placeholder="Your Email"> </fieldset>
  <fieldset> <textarea rows="4" cols="50" name="question" id="question" placeholder="Type your comment here..."></textarea> </fieldset>
  <fieldset> <button name="submit" type="submit" id="send"> <i class="fas fa-long-arrow-alt-right"></i> </button> </fieldset>
</form> 