{{ $img := resources.Get (.Get "img-src") }}

{{ with $img }}
{{ $resizedImage := .Resize "300x webp" }}
{{ if $resizedImage }}
{{ $name := $.Get "name" }}
{{ $position := $.Get "position" }}
{{ $caption := $.Get "caption" }}
{{ $altText := $.Get "alt" }}
{{ $website := $.Get "website" }}
{{ $instagram := $.Get "instagram" }}
{{ $twitter := $.Get "twitter" }}

<div class="col-sm-6 item">
<div class="card mb-4">
<div class="row g-2">
<div class="col-md-4">
<a href="{{ .RelPermalink }}" data-lightbox="staff"> <center><img src="{{ $resizedImage.RelPermalink }}" class="img-fluid" alt="{{ $altText }}"></center></a>
</div>
<div class="col-md-8">
<div class="card-body">
<div class="d-flex justify-content-between">
<div>
<h5 class="card-title">{{ $name }}</h5>
</div>
<div>
{{ if $website }}
<a href="{{ $website }}"><i class="fa-solid fa-globe"></i></a>
{{ end }}
{{ if $instagram }}
<a href="{{ $instagram }}"><i class="fa-brands fa-instagram"></i></a>
{{ end }}
{{ if $twitter }}
<a href="{{ $twitter }}"><i class="fa-brands fa-twitter"></i></a>
{{ end }}
</div>
</div>  
<p class="card-text"><i>{{ $position }}</i></p>
<p class="card-text">{{ $caption }}</p>
</div>
</div>
</div>
</div>
</div>
{{ else }}
<p>Error: Image couldn't be resized.</p>
{{ end }}
{{ else }}
<p>Error: Image not found.</p>
{{ end }}